html, body {
  overflow: hidden;
  height: 100%;
  touch-action: none;
}


body {
  margin: 0;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}
.container {
  padding: 20px;
  text-align: center;
}
.back-btn {
  text-align: left;
  color: #007bff;
  padding-bottom: 10px;
  cursor: pointer;
}
.title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 20px;
}
.white-box {
  max-width: 300px;
  margin: 0 auto 16px;
  padding: 16px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}
.label {
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 5px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.success-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}





.input {
  font-size: 14px;
  color: #555;
}

.input::placeholder {
  font-size: 13px;
  color: #999;
}

input[type="text"] {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
